
<%- include('../partials/head')%>


<h2 class="tituloCarrito">Mi carrito</h2>
<ul class="producto-ul">
    
    <% carrito.forEach(product => { %>
        <li class="producto-carrito">
           <img src="/images/<%= product.imagen %>" alt="">
            <h2><%= product.nombre %></h2>
            <p><%= product.descripcion %></p>
             <p>Precio: $<%= product.precio %></p>
            <button class="boton">Comprar</button>
            <form action="/productos/quitarProducto/<%= product.id %>" method="post">
                <input type="hidden" name="_method" value="delete"> 
                <button type="submit">Eliminar</button>
            </form>
        
    <% }); %>
</ul>


<%- include('../partials/footer')%>